<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина &ndash; Cart</title>
</head>
<body>
<a href="http://127.0.0.1:5501/customer-app/src/main/resources/templates/customer/products/list.html">Весь ассортимент</a>
<a href="http://127.0.0.1:5501/customer-app/src/main/resources/templates/customer/products/favourites.html">Избранное</a>
<a href="http://127.0.0.1:5501/customer-app/src/main/resources/static/index.html">Выйти</a>
<h1>Корзина</h1>
<form>
    <label>Фильтр: <input type="text" name="filter" data-th-value="${filter}"><button type="submit">Поиск</button></label>
</form>
<ul>
    <li data-th-each="product:${products}">
        <strong>
            <a data-th-text="${product.title}"
               data-th-href="@{/customer/products/{productId}(productId=${product.id})}"></a>
        </strong>
        <p data-th-text="${product.details}"></p>
    </li>
</ul>
</body>
</html>